<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="分界线">
    <title>语雀 · 生仪版</title>
    <link rel="icon" type="image/x-icon" th:href="@{~/images/icon/bird.svg}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/main_style.css}">
    <!-- <script type="text/javascript" th:src="@{~/jquery/jquery-3.6.0.min.js}"></script> -->
    <style>
        .glyphicon {
            /* color: #5288f5; */
            font-size: 16px;
            margin-right: 4px;
        }

        #footer {
            height: 40px;
            line-height: 40px;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: #333;
            color: #fff;
            font-size: 12px;
            letter-spacing: 1px;
        }
    </style>
</head>

<body>
    <!-- 标题栏 -->
    <div class="top">
        <ul class="header">
            <li class="title">
                <a class="icon" href="/index">
                    <img id="icon_hos" alt="Oops! missing" th:src="@{~/images/icon/bird.svg}">
                </a>
                <a id="sys" href="/index">
                    语雀 · 生仪版
                </a>
            </li>
            <li class="user_li">
                <a class="icon" href="#">
                    <img alt="Oops! missing" th:src="@{~/images/ran.jpg}">
                </a>
                <span th:text="${session.user.username}+' | '"></span>
                <a href="/logout">注销</a>
            </li>
        </ul>
    </div>

    <!-- 导航栏 -->
    <div class="navi">
        <ul class="nav_left">
            <li>
                <a href="/index">
                    <span class="glyphicon glyphicon-home"></span>
                    <span id="nav_text"> 主页</span>
                </a>
            </li>
            <li>
                <a href="/doc/editor">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span id="nav_text"> 新建文档</span>
                </a>
            </li>
            <li>
                <a href="/doc/viewList">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span id="nav_text"> 查看/修改/删除</span>
                </a>
            </li>
            <li>
                <a href="/tag/viewList">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span id="nav_text"> 按标签查看</span>
                </a>
            </li>
            <li>
                <a href="http://office.cbeis.zju.edu.cn/" target="_blank">
                    <span class="glyphicon glyphicon-hand-right"></span>
                    <span id="nav_text"> 生仪学院官网</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 主体内容 -->
    <div class="content">
        <div class="container">
            <p>
                <h1 style="text-align: center; margin-top: 50px;">欢迎您来到生仪版语雀😉</h1>
                <h1 style="text-align: center; margin-bottom: 50px;">Welcome!</h1>
            </p>
        </div>
    </div>

    <div id="footer">
        Copyright © 2021 樊济瑄 v1.0.0 | Email: 3190103168@zju.edu.cn | 《高级程序设计》课程大作业
    </div>

</body>



</html>