<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="分界线">
    <title>登录 | 语雀 · 生仪版</title>
    <link rel="icon" type="image/x-icon" th:href="@{~/images/icon/bird.svg}">
    <link rel="stylesheet" th:href="@{~/css/login_style.css}">
    <style>
        #footer {
            height: 40px;
            line-height: 40px;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: #333;
            color: #fff;
            font-size: 12px;
            letter-spacing: 1px;
        }
    </style>
</head>

<body>

    <div class="box">
        <h2>语雀 · 生仪版</h2>
        <form th:action="@{/loginCheck}" class="admin" method="post">
            <div class="inputBox">
                <input type="text" name="username" autofocus required>
                <label>用户名</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" autofocus required>
                <label>密码</label>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="登录">
            </div>
            <div class="regis">
                <div th:if="${msg != null}">
                    <h3 th:text="${msg}" style="color: rgb(216, 86, 86);"></h3>
                </div>
                没有账号？
                <a href="/register">注册</a>
            </div>
        </form>
        
    </div>

    <div id="footer">
        Copyright © 2021 樊济瑄 v1.0.0 | Email: 3190103168@zju.edu.cn | 《高级程序设计》课程大作业
    </div>

</body>

</html>